.location {
  &__left {
    display: inline-block;
    width: 30%;

    &--header {
      font-size: 2.5rem;
      text-transform: capitalize;
    }

    &--text {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }

  &__right {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    height: 50rem;
    background-color: yellow;
  }
}
