.menu {
  &__header {
    height: 8rem;
    margin: 0 auto;
    text-align: center;
  }

  &__container {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    &__items {
      color: $color-black;
      display: flex;
      width: 30%;
      margin-bottom: 1.5rem;

      &--left {
        width: 80%;
        text-align: left;
      }

      &--right {
        width: 20%;
        text-align: right;
      }

      &--name {
        font-size: 1.65rem;
        text-transform: capitalize;
        font-weight: 600;
      }

      &--description {
        font-size: 1.5rem;
        line-height: 1.2;
      }

      &--price {
        font-size: 1.5rem;
      }
    }

    @include respond(phone) {
      &__items {
        width: 100%;
        margin-bottom: 2rem;

        &--name {
          font-size: 2rem;
        }

        &--description {
          font-size: 1.6rem;
          line-height: 1.3;
        }

        &--price {
          font-size: 1.8rem;
        }
      }
    }
  }
}

// @include respond(small-phone) {
//   padding: 1rem 2.5rem;
//   &__items {
//     width: 100%;
//     margin-bottom: 1.5rem;

//     &--left {
//       width: 80%;
//       text-align: left;
//     }

//     &--right {
//       width: 20%;
//       text-align: right;
//     }

//     &--name {
//       font-size: 2rem;
//     }

//     &--description {
//       font-size: 1.6rem;
//       line-height: 1.2;
//     }

//     &--price {
//       font-size: 1.8rem;
//     }
//   }
// }
