.section-about {
  min-height: 70vh;
  padding: 15rem 0;
  background-color: whitesmoke;
}

.section-menu-drinks {
  min-height: 100vh;
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.5),
      rgba($color-black, 0.5)
    ),
    url('https://storage.needpix.com/rsynced_images/pineapple-1406119_1280.jpg');
  background-size: cover;
  background-position: center;
}

.section-menu {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: whitesmoke;
}

.section-images {
  min-height: 100vh;
  background-color: $color-black;
  font-size: 0;
}

.section-location {
  min-height: 100vh;
  padding: 20rem 0 0 0;
  background-color: whitesmoke;
}
