.section-about {
  min-height: 100vh;
  padding: 20rem 0;
  background-color: whitesmoke;

  @include respond(tab-landscape) {
    padding: 20rem 3rem;
  }

  @include respond(tab-portrait) {
    padding: 20rem 3rem;
  }

  @include respond(phone) {
    padding: 15rem 3rem;
  }

  @include respond(small-phone) {
    padding: 15rem 2rem;
  }
}

.section-menu-drinks {
  min-height: 100vh;
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(rgb(27, 26, 26), 0.5),
      rgba(rgb(27, 26, 26), 0.5)
    ),
    url('../../img/drinks-bg.jpg');
  background-size: cover;
  background-position: center;

  @include respond(tab-landscape) {
    padding: 10rem 3rem;
  }

  @include respond(tab-portrait) {
    padding: 10rem 3rem;
  }

  @include respond(phone) {
    padding: 15rem 5rem;
  }

  @include respond(small-phone) {
    padding: 13rem 2.5rem;
  }
}

.section-menu {
  min-height: 100vh;
  padding: 10rem 0;
  background-color: whitesmoke;

  @include respond(tab-landscape) {
    padding: 10rem 3rem;
  }

  @include respond(tab-portrait) {
    padding: 10rem 3rem;
  }

  @include respond(phone) {
    padding: 13rem 5rem;
  }

  @include respond(small-phone) {
    padding: 13rem 2rem;
  }
}

.section-images {
  min-height: 100vh;
  background-color: $color-black;
  font-size: 0;
}

.section-location {
  min-height: 80vh;
  padding: 15rem 0 0 0;
  background-color: whitesmoke;
}
